/* 

Jest to darmowe zadanie ze zbioru zadań frontendowych "HTML, zaawansowany CSS i początki JS"
Napisz na chata fanpage, jeśli jesteś zainteresowany - https://www.facebook.com/localhost40310

Zadanie:
Stwórz .wall wg metodologii BEM z 3 modyfilatorami, aby utworzyć izometryczną kostkę:
- widzisz tylko 3 ściany kostki pod kątami, które są wielokrotnością kąta 45 stopni
- każda klasa będzie odpowiadającą modyfikacji ścianą izometrycznej kostki
- każda ścianka ma być wielkości 250x250px oraz o tle zawierającym inny obrazek
- wszystkie klasy .wall mają działać wewnątrz elementu o klasie .cube
*/

.cube {
  margin: 50px auto;
  height: 500px;
  position: relative;
  width: 500px;
  cursor: pointer;
}

.wall--top,
.wall--left,
.wall--right {
  height: 250px;
  position: absolute;
  width: 250px;
}

.wall--top {
  background: url("./img/img1.jpg") no-repeat center;
  left: 0;
  transform: skew(-45deg);
}

.wall--left {
  background: url("./img/img2.jpg") no-repeat center;
  top: 250px;
  transform: skew(45deg);
}

.wall--right {
  background: url("./img/img3.jpg") no-repeat center;
  left: 250px;
  top: 125px;
  transform: skew(45deg, -45deg);
}

/* google keywords: css transformation, css skew, position absolute */
